@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik:wght@300&display=swap');

body {
    background-color: #a2faa3;
    font-family: 'Rubik', sans-serif;
}

header {
    border-bottom: 1px;
    background-color: #4f759b;
    height: 250px;

}

header ul li {
    display: inline-block;
}

ul {
    margin: 8px;
    position: relative;
    left: 1400px;
    width: 410px;
    border: black solid 2px;

}

h1 {
    color: #571f4e;
    padding: 15px;
    position: relative;
    left: 220px;
    top: 50px;
    text-transform: uppercase;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.headerLogo {
    position: relative;
    bottom: 100px;
    left: 10px;
    max-width: 210px;
}

.carrusel {
    width: 1887px;
    height: 500px;
    display: block;
}

.imgInicio {
    height: 200px;
    width: 300px;
    margin-left: 100px;
}

main h3 {
    position: relative;
    left: 450px;
    bottom: 100px;
}

.descripcionInicio {
    position: relative;
    left: 550px;
    bottom: 180px;
    max-width: 800px;
}

footer {
    border-bottom: 1px;
    background-color: #4f759b;
    height: 250px;
}

.footerLogo {
    position: relative;
    top: 10px;
    left: 10px;
    max-width: 210px;
}

.contenedorCompra {
    display: flex;
}

.imgCompra {
    height: 200px;
    width: 300px;
    margin-left: 100px;
}

.textoCompra {
    position: relative;
    left: 100px;
}

.videoGuia {
    align-items: center;
    justify-content: center;
    margin: 10px;
}