@import "header";
@import "footer";
@import "inicio";
@import "mediasqueries";

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #dad7cd;
    @include movil{
        flex-direction: column;
        
}
}

.contenedor{
    @include movil{
        flex-direction: column;
    
}

}