@import "header";
@import "footer";
@import "inicio";
@import "mediasqueries";



main{
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #dad7cd;
    
}

